<!DOCTYPE html>
    <html>
            <head>
                    <title>{{ page.title }}</title>
                    <link rel="stylesheet" type="text/css" href="{{site.sass.template}}/default.css">
            </head>
            <body>
                <article>
                    <div class="edit-button">
                       <a href="{{site.home}}/edit/master/{{page.path }}"><i class="fa fa-pencil"></i>Edit on Github</a>
                    </div> 

                    <div class="container">
                        {{ content }}
                    </div>
                </article>
                
                <footer> 
                    <a class="title"   href="{{site.home}}">{{site.title}}</a>  
                    <a class="licence" href="{{site.attributions.licence}}">Licence (2016)</a> 
                    <a class="owner"   href="{{site.attributions.home}}">&copy;{{site.attributions.copyright}}</a> 
                </footer>
            </body>
    </html>
    
<script src="{{ site.assets.js }}/lib/jqlite.1.1.1.min.js"></script>
{% for script in layout.scripts %}
    <script src="{{site.assets.js}}/{{script}}"></script>
{% endfor %}
